* {
    margin: 0;
    padding: 0;
}
.home-icon {
    background: url(home.svg) no-repeat left;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}
.bars-icon {
    background: url(bars.svg) no-repeat  right;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: cornflowerblue;
    margin: 5px;
    /* box-sizing: border-box; */
    position: fixed;
    top: 5px;
    right: 5px;
    left: 5px;
}
h1 {
    font-size: 3vh;
}
p {
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.message-icon {
    background: url(comments.svg) no-repeat left;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}
.add-icon {
    background: url(plus-circle.svg) no-repeat center;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}
.profile-icon {
    background: url(user.svg) no-repeat center;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: rgb(150, 171, 177);
    margin: 5px;
    /* box-sizing: border-box; */
    position: fixed;
    bottom: 5px;
    right: 5px;
    left: 5px;
}